@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face Definitions */
@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Variable.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-VariableItalic.ttf');
	font-style: italic;
	font-display: swap;
}

/* Hidden Utility */
.hidden {
	display: none;
}

/* Gradient Background Animation */
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes wobble {
	0%,
	100% {
		transform: translate(-50%, -50%) rotate(0deg) scale(1);
	}
	50% {
		transform: translate(-48%, -52%) rotate(180deg) scale(1.1);
	}
}

.gradient {
	--size: 800px;
	--speed: 25s;
	--easing: cubic-bezier(0.6, -0.28, 0.735, 0.045);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: var(--size);
	height: var(--size);
	filter: blur(calc(var(--size) / 5));

	/* Updated to include a third color */
	background-image: linear-gradient(
		to bottom right,
		var(--gradient-start),
		var(--gradient-mid),
		var(--gradient-end)
	);

	animation: wobble var(--speed) var(--easing) infinite alternate;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	z-index: -10;
}

@media (min-width: 720px) {
	.gradient {
		--size: 500px; /* Smaller gradient size for larger screens */
	}
}

@media (min-width: 720px) {
	.gradient {
		--size: 500px; /* Smaller gradient size for larger screens */
	}
}

/* Viewport Transition Effect */
* {
	transition: all 0.5s ease-out;
}

/* Tailwind Base Layer - Color Variables */
@layer base {
	:root {
		--gradient-start: rgb(2 132 199); /* Light theme start color */
		--gradient-mid: #bebebe; /* New light theme middle color */
		--gradient-end: rgb(2 132 199); /* Light theme end color */

		--background: 210 33% 99%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 5% 30%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}

	.dark {
		--gradient-start: #bebebe; /* Light theme start color */
		--gradient-mid: rgb(2 132 199); /* New light theme middle color */
		--gradient-end: #bebebe; /* Light theme end color */

		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 10% 90%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
