---
import PageLayout from '@/layouts/BaseLayout.astro'
import Hero from '@/components/Hero.astro'
import AboutSection from '@/sections/AboutSection.astro'
import BlogSection from '@/sections/BlogSection.astro'
import ExperienceSection from '@/sections/ExperienceSection.astro'
import { allBlogPosts, toolsData } from '@/data/data'
import ToolsSlideshow from '@/components/ToolsSlideshow.astro'
import Container from '@/components/Container.astro'

const blogPosts = await allBlogPosts
const meta = {
	description:
		"Welcome to Stijn Hering's personal website, showcasing expertise in data science, data engineering, and software development.",
	title: 'Info'
}
---

<PageLayout meta={meta}>
	<Hero />
	<ToolsSlideshow tools={toolsData} />
	<Container class='py-12'>
		<div class='flex flex-col gap-y-12'>
			<AboutSection />
			<BlogSection posts={blogPosts} />
			<ExperienceSection />
		</div>
	</Container>
</PageLayout>
