---
import { Icon } from 'astro-icon/components'
import type { Tool } from '@/types'

interface Props {
	tools: Tool[]
	speed?: number // Duration in seconds, default will be 45
}

const { tools, speed = 45 } = Astro.props
const slideItems = [...tools, ...tools, ...tools]
---

<div class='py-24'>
	<div class='mb-12 flex flex-col items-center gap-2'>
		<h1
			class='bg-gradient-to-r from-sky-600 to-sky-400 bg-clip-text text-3xl font-bold text-transparent dark:from-sky-400 dark:to-sky-200'
		>
			Tools & Technologies
		</h1>
		<p class='max-w-2xl text-center text-sm text-gray-600 dark:text-gray-400'>
			A collection of frameworks, tools, and technologies I work with
		</p>
	</div>
	<!-- LEFT OUT DARK THEME: dark:from-gray-900/50 dark:via-gray-800/50 dark:to-gray-900/50 -->
	<div
		class='w-full overflow-hidden bg-gradient-to-r from-gray-50/80 via-white to-gray-50/80 backdrop-blur-sm dark:from-gray-50/30 dark:via-white/30 dark:to-gray-50/30'
	>
		<div class='flex' style={`animation: marquee ${speed}s linear infinite`}>
			{
				slideItems.map((tool) => (
					<div class='flex min-w-fit items-center space-x-3 px-10 py-8'>
						<Icon
							name={tool.iconName}
							class='h-10 w-10 opacity-80 transition-opacity hover:opacity-100'
						/>
						{/* dark:text-gray-300 */}
						<span class='whitespace-nowrap font-mono text-lg font-bold text-gray-600 dark:text-gray-300 '>
							{tool.name}
						</span>
					</div>
				))
			}
		</div>
	</div>
</div>

<style>
	@keyframes marquee {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-33.33%);
		}
	}

	/* Note: Removed .animate-marquee class since we're using inline style */
	div:hover {
		animation-play-state: paused;
	}
</style>
