---
import type { SiteMeta } from '@/types'

import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'
import Container from '@/components/Container.astro'

import { siteConfig } from '@/site-config'

interface Props {
	meta: SiteMeta
}

const {
	meta: { description = siteConfig.description, ogImage, title }
} = Astro.props
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead description={description} ogImage={ogImage} title={title} />
	</head>

	<body class='flex justify-center bg-background'>
		<ThemeProvider />
		<div class='w-screen'>
			<main
				class='flex min-h-screen flex-col items-center font-satoshi text-[0.92rem] leading-relaxed'
			>
				<Container>
					<Header />
				</Container>
				<slot />
				<!-- <div class='w-full max-w-[80rem] px-6 pb-4 pt-8 sm:px-10 lg:px-10'>
					{/* Main content slot (includes Hero) */}
				</div> -->

				{/* Full-width content after main content */}

				<Container>
					<Footer />
				</Container>
			</main>
		</div>
	</body>
</html>
